.Rproj.user
.Rhistory
inst/doc
/doc/
/Meta/
data-host-batch/ssp2/prop.csv
data-host-batch/ssp2/epop.csv
data-host-batch/ssp1/prop.csv
data-host-batch/ssp1/epop.csv
data-host-batch/ssp3/epop.csv
data-host-batch/ssp3/prop.csv
data-host-batch/ssp4/epop.csv
data-host-batch/ssp4/prop.csv
data-host-batch/ssp5/epop.csv
data-host-batch/ssp5/prop.csv
